<div class="row">
    <div class="col-md-12">
        <div class="card">
            <div class="header">
                <h4 class="title">Purchase Invoice List</h4><br>
                <p class="category"><button href="#modal-overflow" uk-toggle class="btn btn-info btn-fill btn-wd">Add New Purchase Invoice</button></p>
            </div>
            <div class="content table-responsive table-full-width">
                <table class="table">
                    <thead>
                        <tr>
                            <th class="text-center">#</th>
                            <th>Invoice Date</th>
                            <!--<th>Due Date</th>-->
                            <th>Invoice #</th>
                            <th>Order #</th>
                            <th>Supplier</th>
                            <th>Descripition</th>
                            <th>Invoice total</th>
                            <th>Balance due</th>
                            <th>Status</th>


                            <th class="text-right">Actions</th>
                        </tr>
                    </thead>
                    <tbody>

                        <tr *ngFor="let entry of entries; trackBy:entry?.id">
                            <td class="text-center"></td>
                            <td>{{entry.invoiceDate}}</td>
                            <!--<td>{{entry.dueDate}}</td>-->
                            <td>{{entry.invoiceNumber}}</td>
                            <td>{{entry.orderNumber}}</td>
                            <td> {{ entry.Supplier}}</td>
                            <td> test</td>
                            <td> test</td>
                            <td> test</td>
                            <td> test</td>


                            <td class="td-actions text-right">
                                <a uk-toggle="target: #rana" rel="tooltip" title="" class="btn btn-info btn-fill btn-wd">Edit</a>
                            </td>

                            <div id="rana" class="uk-modal-container" uk-modal>
                                <div class="uk-modal-dialog uk-modal-body">
                                    <button class="uk-modal-close-default" type="button" uk-close></button>
                                    <div class="uk-modal-header">
                                        <h2 class="uk-modal-title">Edit Here</h2>
                                    </div>
                                    <div class="uk-modal-body">
                                        <form novalidate #form="ngForm">
                                            <div class="row">
                                                <div class="col-md-2">
                                                    <div>Invoice Date</div>
                                                    <input type="text" class="form-control datetimepicker" placeholder="Date" [(ngModel)]="entry.invoiceDate" name="invoiceDate"
                                                        required>
                                                    <!--<input type="text" class="form-control datetimepicker" placeholder="Datetime Picker Here" />-->
                                                </div>
                                                <div class="col-sm-2">
                                                    <div>Due Date</div>
                                                    <input type="text" class="form-control datetimepicker" placeholder="Date" [(ngModel)]="entry.dueDate" name="dueDate" required>
                                                </div>
                                                <div class="col-sm-3">
                                                    <div>Invoice Number</div>
                                                    <div class="input-group">
                                                        <span class="input-group-addon">#</span>
                                                        <input type="text" class="form-control" [(ngModel)]="entry.invoiceNumber" name="invoiceNumber" number="true" maxLength="5"
                                                            required>
                                                        <span class="input-group-addon"></span>
                                                    </div>
                                                </div>
                                                <div class="col-sm-1"></div>
                                                <div class="col-sm-3">
                                                    <div>Order Number</div>
                                                    <div class="input-group">
                                                        <span class="input-group-addon">#</span>
                                                        <input type="text" class="form-control" [(ngModel)]="entry.orderNumber" name="orderNumber" number="true" maxLength="5" required>
                                                        <span class="input-group-addon"></span>
                                                    </div>
                                                </div>
                                            </div>
                                            <br>
                                            <div class="row">
                                                <div class="col-sm-4">
                                                    <div>Suppliers</div>
                                                    <select name="Supplier" [(ngModel)]="entry.Supplier" class="selectpicker" data-title="Select Currency" data-style="btn-default btn-block"
                                                        data-menu-style="dropdown-blue">
                                                            <option value="id">Bahasa Indonesia</option>
                                                            <option value="ms">Bahasa Melayu</option>
                                                            <option value="ca">Català</option>
                                                            <option value="da">Dansk</option>
                                                            <option value="de">Deutsch</option>
                                                            <option value="en">English</option>
                                                    </select>
                                                </div>
                                            </div>
                                            <br>
                                            <div class="row">
                                                <div class="col-sm-2">
                                                    <div class="container">
                                                        <div class="row">
                                                            <div>Description</div>
                                                            <div class="row">

                                                                <div class="col-sm-6">
                                                                    <textarea rows="3" cols="15" class="form-control" input type="text" [(ngModel)]="entry.description" name="description" maxLength="25"
                                                                        required>
                                                     </textarea>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>

                                            <br>
                                            <div class="row">
                                                <div class="col-md-3">
                                                    <div> Description</div>
                                                    <input type="text" class="form-control" [(ngModel)]="entry.description1" name="description1" maxLength="15" required>
                                                </div>
                                                <div class="col-md-2">
                                                    <div>Qty</div>
                                                    <input type="text" class="form-control" [(ngModel)]="entry.qty" name="qty" number="true" maxLength="5" required>
                                                </div>
                                                <div class="col-md-2">
                                                    <div>Unit Price</div>
                                                    <input type="text" class="form-control" [(ngModel)]="entry.Unitprice" name="Unitprice" number="true" maxLength="5" required>
                                                </div>
                                                <div class="col-md-2">
                                                    <div>Discount</div>
                                                    <div class="input-group">
                                                        <span></span>
                                                        <input type="text" class="form-control" [(ngModel)]="entry.discount" name="discount" number="true" maxLength="5" required>
                                                        <span class="input-group-addon">%</span>
                                                    </div>
                                                </div>


                                                <div class="col-md-2">
                                                    <div>Amount</div>
                                                    <input type="number" class="form-control" [(ngModel)]="entry.amount" name="amount" number="true" maxLength="15" required>
                                                </div>

                                            </div>

                                            <br>
                                            <div class="row">
                                                <div class="col-md-9"></div>
                                                <div class="col-md-2">
                                                    <input type="text" class="form-control" placeholder="0" />
                                                </div>
                                            </div>

                                            <br>
                                            <div class="row">
                                                <div class="col-sm-2">
                                                    <div class="container">
                                                        <div class="row">
                                                            Internal Information
                                                            <div class="row">

                                                                <div class="col-sm-6"><textarea rows="3" cols="15" class="form-control" input type="text"
                                                                        [(ngModel)]="entry.info" name="info" required></textarea></div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </form>
                                    </div>
                                    <div class="uk-modal-footer uk-text-right">
                                        <button class="btn btn-info btn-fill btn-wd uk-modal-close" (click)="update(entry)" type="button">Update</button>
                                        <button class="btn btn-danger btn-fill btn-wd uk-modal-close" (click)="delete(entry)" type="button">Delete</button>
                                    </div>
                                </div>
                            </div>
                            <div id="invoice" class="uk-modal-container" uk-modal>
                                <div class="uk-modal-dialog uk-modal-body">

                                    <button class="uk-modal-close-default" type="button" uk-close></button>


                                    <div styles="height:6000px;" class="uk-modal-body">

                                        <div class="invoice-box">
                                            <table cellpadding="0" cellspacing="0">
                                                <tr class="top">
                                                    <td colspan="2">
                                                        <table>
                                                            <tr>
                                                                <td class="title">
                                                                    <img src="http://nextstepwebs.com/images/logo.png" style="width:100%; max-width:300px;">
                                                                </td>

                                                                <td>
                                                                    Invoice #: {{entry.invoicenumber}}<br> Created: January
                                                                    1, 2015<br> Due: February 1, 2015
                                                                </td>
                                                            </tr>
                                                        </table>
                                                    </td>
                                                </tr>

                                                <tr class="information">
                                                    <td colspan="2">
                                                        <table>
                                                            <tr>
                                                                <td>
                                                                    Next Step Webs, Inc.<br> 12345 Sunny Road<br> Sunnyville,
                                                                    TX 12345
                                                                </td>

                                                                <td>
                                                                    Acme Corp.<br> John Doe<br> john@example.com
                                                                </td>
                                                            </tr>
                                                        </table>
                                                    </td>
                                                </tr>

                                                <tr class="heading">
                                                    <td>
                                                        Payment Method
                                                    </td>

                                                    <td>
                                                        Check #
                                                    </td>
                                                </tr>

                                                <tr class="details">
                                                    <td>
                                                        Check
                                                    </td>

                                                    <td>
                                                        1000
                                                    </td>
                                                </tr>

                                                <tr class="heading">
                                                    <td>
                                                        Item
                                                    </td>

                                                    <td>
                                                        Price
                                                    </td>
                                                </tr>

                                                <tr class="item">
                                                    <td>
                                                        Website design
                                                    </td>

                                                    <td>
                                                        $300.00
                                                    </td>
                                                </tr>

                                                <tr class="item">
                                                    <td>
                                                        Hosting (3 months)
                                                    </td>

                                                    <td>
                                                        $75.00
                                                    </td>
                                                </tr>

                                                <tr class="item last">
                                                    <td>
                                                        Domain name (1 year)
                                                    </td>

                                                    <td>
                                                        $10.00
                                                    </td>
                                                </tr>

                                                <tr class="total">
                                                    <td></td>

                                                    <td>
                                                        Total: $385.00
                                                    </td>
                                                </tr>
                                            </table>
                                        </div>
                                    </div>


                                </div>
                            </div>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>

</div>


<!--<div id="modal-overflow" uk-modal>
    <div class="uk-modal-dialog">-->
<div id="modal-overflow" class="uk-modal-container" uk-modal>
    <div class="uk-modal-dialog uk-modal-body">

        <button class="uk-modal-close-default" type="button" uk-close></button>

        <div class="uk-modal-header">
            <h2 class="uk-modal-title">Add New Purchase Invoice</h2>
        </div>

        <div class="uk-modal-body">
            <form novalidate #form="ngForm" id="allInputsFormValidation" class="uk-form">
                <div class="row">
                    <div class="col-md-2">
                        <div>Invoice Date</div>
                        <input class=" date form-control datepicker " placeholder="" #datePicker [(ngModel)]="entry.invoiceDate" name="invoiceDate"
                            (blur)="invoiceDate = datePicker.value">
                        <!--<input type="text" class="form-control datepicker" placeholder="Date" [(ngModel)]="entry.invoiceDate" name="invoiceDate" #invoiceDate="ngModel" date/>
                        <p *ngIf="invoiceDate.errors?.date">error message</p>-->
                    </div>
                    <div class="col-sm-2">
                        <div>Due Date</div>
                        <!--<input type="text" class="form-control datetimepicker" placeholder="Date" [(ngModel)]="entry.dueDate" name="dueDate" required>-->
                    </div>
                    <div class="col-sm-3">
                        <div>Invoice Number</div>
                        <div class="input-group">
                            <span class="input-group-addon">#</span>
                            <input type="text" class="form-control" [(ngModel)]="entry.invoiceNumber" name="invoiceNumber" #invoiceNumber="ngModel" [rangeLength]="[5, 10]"
                                required>
                            <span class="input-group-addon"></span>
                        </div>
                        <p *ngIf="invoiceNumber.errors?.rangeLength">it must be between 5 to 10</p>
                    </div>
                    <div class="col-sm-1"></div>
                    <div class="col-sm-3">
                        <div>Order Number</div>
                        <div class="input-group">
                            <span class="input-group-addon">#</span>
                            <input type="text" class="form-control" [(ngModel)]="entry.orderNumber" name="orderNumber" number="true" #orderNumber="ngModel"
                                [rangeLength]="
                                [5, 10] " required>
                            <span class=" input-group-addon "></span>
                        </div>
                        <p *ngIf="orderNumber.errors?.rangeLength ">it must be between 5 to 10</p>
                    </div>
                </div>
                <br>
                <div class="row ">
                    <div class="col-sm-4 ">
                        <div>Suppliers</div>
                        <select required name="sup " [(ngModel)]="entry.Supplier " class="selectpicker ">
                          <!--<option value=" " selected="supplier[0] ">test</option>-->
                            <option  *ngFor="let s of sup; trackBy:s?.id " [attr.Value]="s.name ">{{s.name}}</option>
                            </select>
                        <!--<br>-->
                        <!--<select required name="countries " [(ngModel)]="entry.Supplier " class="selectpicker
                                " data-style="btn-default btn-block " data-menu-style="dropdown-blue ">
                            <option *ngFor="let c of countries " [attr.value]="c.name ">{{c.name}}</option>
                            </select>-->
                        <!--<option value="supplier1 ">supplier</option>
                            <option value="supplier 1 ">supplier 1</option>
                            <option value="supplier2 ">supplier2</option>
                            <option value="da ">Dansk</option>
                            <option value="de ">Deutsch</option>
                            <option value="en ">English</option>-->
                        <!--<option *ngFor="let c of countries " [ngValue]="c ">{{c.name}}</option>-->
                        <!--<option *ngFor="#c of countries " value="c ">{{c.name}}</option>-->



                        <!--<label>Name</label>-->
                        <!--<select [(ngModel)]="name " name="Select name " class="selectpicker " data-style="btn-default
                                btn-block " data-menu-style="dropdown-blue "> 
                            <option *ngFor="#n of names " [attr.value]="n ">{{n}}</option>
                        </select>-->
                        <!--</select>-->

                        <!--<select [(ngModel)]="selectedValue ">
                            <option *ngFor="let c of countries " [ngValue]="c ">{{c.name}}</option>
                        </select>-->
                        <!--<select [(ngModel)]="selectedValue ">
                            <option *ngFor="#c of countries " [value]="c.id ">{{c.name}}</option>
                        </select>-->
                    </div>
                </div>
                <div class="row ">
                    <div class="col-sm-2 ">
                        <div class="container ">
                            <div class="row ">
                                <div>Description</div>
                                <div class="row ">
                                    <div class="col-sm-6 ">
                                        <textarea rows="3 " cols="15 " class="form-control " input type="text
                                " [(ngModel)]="entry.description " name="description " maxLength="25 " required>
                                                     </textarea>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <br>
                <div class="row ">
                    <div class="col-md-3 ">
                        <div> Description</div>
                        <input type="text " class="form-control " [(ngModel)]="entry.description1 " name="description1
                                " maxLength="15 " required>
                    </div>
                    <div class="col-md-2 ">
                        <div>Qty</div>
                        <input type="text " class="form-control " [(ngModel)]="entry.qty " name="qty " number="true
                                " maxLength="5 " required>
                    </div>
                    <div class="col-md-2 ">
                        <div>Unit Price</div>
                        <input type="text " class="form-control " [(ngModel)]="entry.Unitprice " name="Unitprice
                                " number="true " maxLength="5 " required>
                    </div>
                    <div class="col-md-2 ">
                        <div>Discount</div>
                        <div class="input-group ">
                            <span></span>
                            <input type="text " class="form-control " [(ngModel)]="entry.discount " name="discount
                                " number="true " maxLength="5 " required>
                            <span class="input-group-addon ">%</span>
                        </div>
                    </div>


                    <div class="col-md-2 ">
                        <div>Amount</div>
                        <input type="number " class="form-control " [(ngModel)]="entry.amount " name="amount " number="true
                                " maxLength="15 " required>
                    </div>

                </div>

                <br>
                <div class="row ">
                    <div class="col-md-9 "></div>
                    <div class="col-md-2 ">
                        <input type="text " class="form-control " placeholder="0 " />
                    </div>
                </div>

                <br>
                <div class="row ">
                    <div class="col-sm-2 ">
                        <div class="container ">
                            <div class="row ">
                                Internal Information
                                <div class="row ">

                                    <div class="col-sm-6 ">
                                        <textarea rows="3 " cols="15 " class="form-control " input type="text
                                " [(ngModel)]="entry.info " name="info"></textarea></div>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
        <div class="uk-modal-footer uk-text-right ">
            <button class="uk-button uk-button-default uk-modal-close " type="button ">Cancel</button>
            <button class="uk-button uk-button-primary uk-modal-close " (click)="save(entry) " [disabled]="form.invalid ">Save</button>
            <!--<button class="uk-button uk-button-primary uk-modal-close btn btn-info btn-fill btn-wd " type="submit
                                " (click)="save(entry) " [disabled]="form.invalid ">Save</button>-->
        </div>
    </div>
</div>