<div class="content">
    <div class="container-fluid">
        <div class="card">
            <div class="content">
                <div class="header">
                    <legend>Delivery Note</legend>
				</div>
			  <div class="content">
                 <form method="get" action="" class="form-horizontal">
                     <div class="container">
                          <div class="row">
                               <div class="col-md-2">
                                  <div> Delivery  Date</div>
                                  <input type="text" class="form-control datetimepicker" placeholder="Date"/>
                                </div>
                                <div class="col-sm-4"></div>
                                <div class="col-sm-2">
                                    <div>Delivery Note No.</div>
                                    <div class="input-group">
                                        <span class="input-group-addon">#</span>
                                        <input type="text" placeholder ="Automatic" class="form-control">
                                        <span class="input-group-addon"></span>
                                    </div>
                                 </div>
                              </div>
                         <br>
                              <div class="row">
                                  <div class="col-md-2">
                                      <div> Customer</div>
                                      <select name="Currency" class="selectpicker" data-title="Single Select" data-style="btn-default btn-block" data-menu-style="dropdown-blue">
                                            <option value="ca">Català</option>
                                            <option value="da">Dansk</option>
                                            <option value="de">Deutsch</option>
                                            <option value="en">English</option>
                                       </select>
                                   </div>
                                   <div class="col-sm-4"></div>
                                   <div class="col-sm-2">
                                        <div>Oder Number No.</div>
                                        <div class="input-group">
                                            <span class="input-group-addon">#</span>
                                            <input type="text" placeholder ="" class="form-control">
                                            <span class="input-group-addon"></span>
                                        </div>
                                    </div>
                                </div>
                            <br>
                                 <div class="row">
                                    <div class="col-md-4">
                                      <div> Discription</div>
                                      <textarea rows="4" cols="20" class="form-control"></textarea>
                                    </div>
                                    <div class="col-sm-2"></div>
                                    <div class="col-sm-2">
                                        <div>Invoice Number No.</div>
                                        <div class="input-group">
                                            <span class="input-group-addon">#</span>
                                            <input type="text" placeholder ="" class="form-control">
                                            <span class="input-group-addon"></span>
                                        </div>
                                     </div>
                                  </div>
                            <br>
                                  <div class="row">
                                      <div class="col-md-4">
                                          <div> Delivery Note Summary</div>
                                          <input type="text" class="form-control" placeholder="optional"/>
                                      </div>
                                  </div>
                            <br>
                                  <div class="row">
                                    <div class="col-md-4">
                                        <div> Description</div>
                                        <input type="text" class="form-control" placeholder=""/>
                                    </div>
                                    <div class="col-sm-0"></div>
                                    <div class="col-sm-1">
                                         <div>Qty</div>
                                         <input type="text" class="form-control " placeholder=""/>
                                    </div>
                                 </div>
                            <br>
                                  <div class="row">
                                      <div class="col-sm-2">
                                          <select name="cities" class="selectpicker" data-title="Add line" data-style="btn-info btn-fill btn-block btn-sm" data-menu-style="dropdown-blue"></select>
                                      </div>
                                  </div>
                             <br>
                                  <div class="row">
                                    <div class="col-md-4">
                                        <div> Notes</div>
                                        <textarea rows="4" cols="20" placeholder ="please check details of this delivery aganist your order and sign in where indicate.Thank You" class="form-control"></textarea>
                                   </div>
                                  </div>
                              <br>
                                   <div class="row">
                                       <div class="col-sm-9"><br><legend></legend></div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-2">
                                        <button type="button" class="btn btn-info btn-fill btn-wd">Create</button>
                                       </div>
                                   </div>
                      </div><!-- container -->
                  </form>
              </div><!-- second content -->
           </div> <!-- first content -->
        </div> <!-- end card -->
    </div> <!--fuild container  -->
</div> <!--main content end card -->
