<div class="content">
    <div class="container-fluid">      
        <div class="card">
            <div class="content">
                <div class="header">
                    <legend>Delete,View,Update,Upload Files From Files System Using DB Referrence</legend>
                </div>
                <div class="content">
                    <p>Here we are working on crud boiler-plate with Angular2+Pouchdb+Express+Node</p>

                     <div class="test-upload uk-placeholder uk-text-center">
                        <span uk-icon="icon: cloud-upload"></span>
                        <span class="uk-text-middle">Attach binaries by dropping them here or</span>
                        <div uk-form-custom>
                            <input type="file" multiple>
                            <span class="uk-link">selecting one</span>
                        </div>
                    </div>

                    <progress id="progressbar" class="uk-progress" value="0" max="100"></progress>



                </div><!-- second content-->
            </div><!-- first content-->
        </div><!-- card -->
        <div class="card">
            <div class="content">

                    <ul class="uk-list uk-visible-toggle">
                        <li class="uk-visible-toggle">
                            <div class="uk-card uk-card-default uk-card-hover uk-card-body">
                                 <h3 class="uk-card-title">Default</h3>
                                 <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
                                 <div class="uk-width-auto">
                                    <ul class="uk-hidden-hover uk-iconnav">
                                        <li><a uk-icon="icon: pencil"></a></li>
                                        <li><a uk-icon="icon: download"></a></li>
                                        <li><a uk-icon="icon: trash"></a></li>
                                    </ul>
                                 </div>
                            </div>
                        </li>

                        <li class="uk-visible-toggle">
                            <div class="uk-card uk-card-default uk-card-hover uk-card-body">
                                 <h3 class="uk-card-title">Default</h3>
                                 <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
                                 <div class="uk-width-auto">
                                    <ul class="uk-hidden-hover uk-iconnav">
                                        <li><a uk-icon="icon: pencil"></a></li>
                                        <li><a uk-icon="icon: download"></a></li>
                                        <li><a uk-icon="icon: trash"></a></li>
                                    </ul>
                                 </div>
                            </div>
                        </li>

                        <li class="uk-visible-toggle">
                            <div class="uk-card uk-card-default uk-card-hover uk-card-body">
                                 <h3 class="uk-card-title">Default</h3>
                                 <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
                                 <div class="uk-width-auto">
                                    <ul class="uk-hidden-hover uk-iconnav">
                                        <li><a uk-icon="icon: pencil"></a></li>
                                        <li><a uk-icon="icon: download"></a></li>
                                        <li><a uk-icon="icon: trash"></a></li>
                                    </ul>
                                 </div>
                            </div>
                        </li>
                    
                    </ul>



            </div><!-- first content-->
        </div><!-- card -->


    </div><!-- fluid container -->
</div><!-- main content-->