<div class="content">
    <div class="container-fluid">      
        <div class="card">
            <div class="content">
                <div class="header">
                    <legend>View Files From Files System Using DB Referrence</legend>
                </div>
                <div class="content">
                    <p>Here we are working on crud boiler-plate with Angular2+Pouchdb+Express+Node</p>

                    <ul class="uk-list uk-visible-toggle" >
                        <li *ngFor="let entry of entries; trackBy:entry?.id">
                            <div class="uk-card uk-card-default uk-card-hover uk-card-body">
                                 <h3 class="uk-card-title">Default</h3>
                                 <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
                            </div>
                        </li>


                    
                    </ul>



                </div><!-- second content-->
            </div><!-- first content-->
        </div><!-- card -->
    </div><!-- fluid container -->
</div><!-- main content-->