<div class="content">
    <div class="container-fluid">      
        <div class="card">
            <div class="content">
                <div class="header">
                    <legend>Crude with Pouchdb !</legend>
                </div>
                <div class="content">
                    <p>Here we are working on crud boiler-plate with Angular2+Pouchdb+Express+Node</p>
                    <p>Gulp+Webpack</p>
                </div><!-- second content-->
            </div><!-- first content-->
        </div><!-- card -->
    </div><!-- fluid container -->
</div><!-- main content-->