<!--<div class="sidebar" data-color="azure" data-image="../assets/img/full-screen-image-3.jpg">

    <div class="logo">
        <a class="logo-text">
                Al Nimr Studio
            </a>
    </div>

    <div class="sidebar-wrapper">
        <div class="user">
            <div class="photo">
                <img src="../assets/img/logo.jpg" />
            </div>
            <div class="info">
                <a data-toggle="collapse" href="#collapseExample" class="collapsed">
                        Al Nimr Team
                        <b class="caret"></b>
                    </a>
                <div class="collapse" id="collapseExample">
                    <ul class="nav">
                        <li><a href="#">Ahmed Rana</a></li>
                        <li><a href="#">Faheem Rana</a></li>
                        <li><a href="#">Azhar Rasheed</a></li>
                    </ul>
                </div>
            </div>
        </div>

        <ul class="nav">

            <li>
                <a data-toggle="collapse" href="#crud">
                    <i class="pe-7s-server"></i>
                    <p>Curd-full
                        <b class="caret"></b>
                    </p>
                </a>
                <div class="collapse" id="crud">
                    <ul class="nav">
                        <li><a [routerLink]="['/allinone']">All in one</a></li>
                        <li><a [routerLink]="['/createform']">Create Form</a></li>
                        <li><a [routerLink]="['/readform']">Read Form</a></li>
                        <li><a [routerLink]="['/updateform']">Update Form</a></li>
                        <li><a [routerLink]="['/deleteform']">Delete Form</a></li>

                    </ul>
                </div>
            </li>

            <li>
                <a data-toggle="collapse" href="#View-1">
                    <i class="pe-7s-server"></i>
                    <p>View-1
                        <b class="caret"></b>
                    </p>
                </a>
                <div class="collapse" id="View-1">
                    <ul class="nav">
                        <li><a [routerLink]="['/view1create']">Create Form</a></li>
                        <li><a [routerLink]="['/View1read']">Read Form</a></li>
                        <li><a [routerLink]="['/View1update']">Update Form</a></li>
                        <li><a [routerLink]="['/View1delete']">Delete Form</a></li>

                    </ul>
                </div>
            </li>

            <li>
                <a data-toggle="collapse" href="#View-2">
                    <i class="pe-7s-server"></i>
                    <p>View-2
                        <b class="caret"></b>
                    </p>
                </a>
                <div class="collapse" id="View-2">
                    <ul class="nav">
                        <li><a [routerLink]="['/View2create']">Create Form</a></li>
                        <li><a [routerLink]="['/View2read']">Read Form</a></li>
                        <li><a [routerLink]="['/View2update']">Update Form</a></li>
                        <li><a [routerLink]="['/View2delete']">Delete Form</a></li>

                    </ul>
                </div>
            </li>
            <li>
                <a data-toggle="collapse" href="#file-system">
                    <i class="pe-7s-folder"></i>
                    <p>File system
                        <b class="caret"></b>
                    </p>
                </a>
                <div class="collapse" id="file-system">
                    <ul class="nav">
                        <li><a [routerLink]="['/fullfs']">Full File Management</a></li>
                        <li><a [routerLink]="['/uploadfiles']">Upload Files</a></li>
                        <li><a [routerLink]="['/viewfiles']">View Files</a></li>
                        <li><a [routerLink]="['/updatefiles']">Update Files</a></li>
                        <li><a [routerLink]="['/deletefiles']">Delete Files</a></li>

                    </ul>
                </div>
            </li>


            <li>
                <a data-toggle="collapse" href="#customers">
                    <i class="material-icons">assignment_ind</i>
                    <p> Customers
                        <b class="caret"></b>
                    </p>
                </a>
                <div class="collapse" id="customers">
                    <ul class="nav">
                        <li><a [routerLink]="['/CustomerUpdateform']">All Customers</a></li>
                        <li><a [routerLink]="['/Customersform']">New Customers</a></li>

                    </ul>
                </div>
            </li>

            <li>
                <a data-toggle="collapse" href="#sales-quotes">
                    <i class="material-icons">question_answer</i>
                    <p> Sales Quotes
                        <b class="caret"></b>
                    </p>
                </a>
                <div class="collapse" id="sales-quotes">
                    <ul class="nav">
                        <li><a [routerLink]="['/allinone']">All Sales Quotes</a></li>
                        <li><a [routerLink]="['/SalesQuoteform']">New Quotes</a></li>

                    </ul>
                </div>
            </li>

            <li>
                <a data-toggle="collapse" href="#sales-orders">
                    <i class="material-icons">add_shopping_cart</i>
                    <p> Sales Orders
                        <b class="caret"></b>
                    </p>
                </a>
                <div class="collapse" id="sales-orders">
                    <ul class="nav">
                        <li><a [routerLink]="['/allinone']">All Sales Orders</a></li>
                        <li><a [routerLink]="['/SalesOrderform']">New Sales Order</a></li>

                    </ul>
                </div>
            </li>

            <li>
                <a data-toggle="collapse" href="#sales-invoice">
                    <i class="material-icons">receipt</i>
                    <p> Sales Invoice
                        <b class="caret"></b>
                    </p>
                </a>
                <div class="collapse" id="sales-invoice">
                    <ul class="nav">
                        <li><a [routerLink]="['/allinone']">All Sales Invoice</a></li>
                        <li><a [routerLink]="['/SaleInvoiceform']">New Sales Invoice</a></li>

                    </ul>
                </div>
            </li>



            <li>
                <a data-toggle="collapse" href="#delivery-notes">
                    <i class="material-icons">assignment_late</i>
                    <p> Delivery Notes
                        <b class="caret"></b>
                    </p>
                </a>
                <div class="collapse" id="delivery-notes">
                    <ul class="nav">
                        <li><a [routerLink]="['/allinone']">All Delivery Notes</a></li>
                        <li><a [routerLink]="['/DeliveryNotesform']">New Delivery Notes</a></li>

                    </ul>
                </div>
            </li>

            <li>
                <a data-toggle="collapse" href="#suppliers">
                    <i class="material-icons">local_shipping</i>
                    <p> Suppliers
                        <b class="caret"></b>
                    </p>
                </a>
                <div class="collapse" id="suppliers">
                    <ul class="nav">
                        <li><a [routerLink]="['/SupplierUpdateform']">All Suppliers</a></li>
                        <li><a [routerLink]="['/Suppliersform']">New Suppliers</a></li>

                    </ul>
                </div>
            </li>

            <li>
                <a data-toggle="collapse" href="#purchase-orders">
                    <i class="pe-7s-cart"></i>
                    <p> Purchase Orders
                        <b class="caret"></b>
                    </p>
                </a>
                <div class="collapse" id="purchase-orders">
                    <ul class="nav">
                        <li><a [routerLink]="['/allinone']">All Purchase Orders</a></li>
                        <li><a [routerLink]="['/PurchaseOrderform']">New Purchase Orders</a></li>

                    </ul>
                </div>
            </li>

            <li>
                <a data-toggle="collapse" href="#purchase-invoice">
                    <i class="material-icons">format_list_numbered</i>
                    <p> Purchase Invoice
                        <b class="caret"></b>
                    </p>
                </a>
                <div class="collapse" id="purchase-invoice">
                    <ul class="nav">
                        <li><a [routerLink]="['/allinone']">All Purchase Invoice</a></li>
                        <li><a [routerLink]="['/PurchaseInvoiceform']">New Purchase Invoice</a></li>

                    </ul>
                </div>
            </li>







            <li>
                <a data-toggle="collapse" href="#inventory-items">
                    <i class="material-icons">content_paste</i>
                    <p> Inventory Items
                        <b class="caret"></b>
                    </p>
                </a>
                <div class="collapse" id="inventory-items">
                    <ul class="nav">
                        <li><a [routerLink]="['/allinone']">All Inventory Items</a></li>
                        <li><a [routerLink]="['/InventoryItemform']">New Inventory Items</a></li>

                    </ul>
                </div>
            </li>















            <li>
                <a data-toggle="collapse" href="#reports">
                    <i class="material-icons">show_chart</i>
                    <p> Reports
                        <b class="caret"></b>
                    </p>
                </a>
                <div class="collapse" id="reports">
                    <ul class="nav">
                        <li><a [routerLink]="['/allinone']">All Journal Entries</a></li>
                        <li><a [routerLink]="['/createform']">New Journal Entries</a></li>

                    </ul>
                </div>
            </li>







        </ul>
    </div>
</div>-->

<div class="sidebar" data-color="azure" data-image="./img/full-screen-image-3.jpg">
    <!--

            Tip 1: you can change the color of the sidebar using: data-color="blue | azure | green | orange | red | purple"
            Tip 2: you can also add an image using data-image tag

        -->

    <div class="logo">
        <a href="http://www.creative-tim.com/" class="logo-text">
                Al NIMR STUDIO
            </a>
    </div>
    <div class="logo logo-mini">
        <a href="http://www.creative-tim.com/" class="logo-text">
				Nimr
			</a>
    </div>

    <div class="sidebar-wrapper">

        <ul class="nav">
            <li><a [routerLink]="['/Supplierread']"><i class="pe-7s-graph1"></i><p>Customers</p></a></li>
            <li>
                <a data-toggle="collapse" href="#crud">
                    <i class="pe-7s-server"></i>
                    <p>Curd-full
                        <b class="caret"></b>
                    </p>
                </a>
                <div class="collapse" id="crud">
                    <ul class="nav">
                        <li><a [routerLink]="['/allinone']">All in one</a></li>
                        <li><a [routerLink]="['/createform']">Create Form</a></li>
                        <li><a [routerLink]="['/readform']">Read Form</a></li>
                        <li><a [routerLink]="['/updateform']">Update Form</a></li>
                        <li><a [routerLink]="['/deleteform']">Delete Form</a></li>

                    </ul>
                </div>
            </li>

            <li>
                <a data-toggle="collapse" href="#View-1">
                    <i class="pe-7s-server"></i>
                    <p>View-1
                        <b class="caret"></b>
                    </p>
                </a>
                <div class="collapse" id="View-1">
                    <ul class="nav">
                        <li><a [routerLink]="['/view1create']">Create Form</a></li>
                        <li><a [routerLink]="['/View1read']">Read Form</a></li>
                        <li><a [routerLink]="['/View1update']">Update Form</a></li>
                        <li><a [routerLink]="['/View1delete']">Delete Form</a></li>

                    </ul>
                </div>
            </li>

            <li>
                <a data-toggle="collapse" href="#View-2">
                    <i class="pe-7s-server"></i>
                    <p>View-2
                        <b class="caret"></b>
                    </p>
                </a>
                <div class="collapse" id="View-2">
                    <ul class="nav">
                        <li><a [routerLink]="['/View2create']">Create Form</a></li>
                        <li><a [routerLink]="['/View2read']">Read Form</a></li>
                        <li><a [routerLink]="['/View2update']">Update Form</a></li>
                        <li><a [routerLink]="['/View2delete']">Delete Form</a></li>

                    </ul>
                </div>
            </li>
            <li>
                <a data-toggle="collapse" href="#file-system">
                    <i class="pe-7s-folder"></i>
                    <p>File system
                        <b class="caret"></b>
                    </p>
                </a>
                <div class="collapse" id="file-system">
                    <ul class="nav">
                        <li><a [routerLink]="['/fullfs']">Full File Management</a></li>
                        <li><a [routerLink]="['/uploadfiles']">Upload Files</a></li>
                        <li><a [routerLink]="['/viewfiles']">View Files</a></li>
                        <li><a [routerLink]="['/updatefiles']">Update Files</a></li>
                        <li><a [routerLink]="['/deletefiles']">Delete Files</a></li>

                    </ul>
                </div>
            </li>


            <li>
                <a data-toggle="collapse" href="#customers">
                    <i class="material-icons">assignment_ind</i>
                    <p> Customers
                        <b class="caret"></b>
                    </p>
                </a>
                <div class="collapse" id="customers">
                    <ul class="nav">
                        <li><a [routerLink]="['/CustomerUpdateform']">All Customers</a></li>
                        <li><a [routerLink]="['/Customersform']">New Customers</a></li>

                    </ul>
                </div>
            </li>

            <li>
                <a data-toggle="collapse" href="#sales-quotes">
                    <i class="material-icons">question_answer</i>
                    <p> Sales Quotes
                        <b class="caret"></b>
                    </p>
                </a>
                <div class="collapse" id="sales-quotes">
                    <ul class="nav">
                        <li><a [routerLink]="['/allinone']">All Sales Quotes</a></li>
                        <li><a [routerLink]="['/SalesQuoteform']">New Quotes</a></li>

                    </ul>
                </div>
            </li>

            <li>
                <a data-toggle="collapse" href="#sales-orders">
                    <i class="material-icons">add_shopping_cart</i>
                    <p> Sales Orders
                        <b class="caret"></b>
                    </p>
                </a>
                <div class="collapse" id="sales-orders">
                    <ul class="nav">
                        <li><a [routerLink]="['/allinone']">All Sales Orders</a></li>
                        <li><a [routerLink]="['/SalesOrderform']">New Sales Order</a></li>

                    </ul>
                </div>
            </li>

            <li>
                <a data-toggle="collapse" href="#sales-invoice">
                    <i class="material-icons">receipt</i>
                    <p> Sales Invoice
                        <b class="caret"></b>
                    </p>
                </a>
                <div class="collapse" id="sales-invoice">
                    <ul class="nav">
                        <li><a [routerLink]="['/allinone']">All Sales Invoice</a></li>
                        <li><a [routerLink]="['/SaleInvoiceform']">New Sales Invoice</a></li>

                    </ul>
                </div>
            </li>



            <li>
                <a data-toggle="collapse" href="#delivery-notes">
                    <i class="material-icons">assignment_late</i>
                    <p> Delivery Notes
                        <b class="caret"></b>
                    </p>
                </a>
                <div class="collapse" id="delivery-notes">
                    <ul class="nav">
                        <li><a [routerLink]="['/allinone']">All Delivery Notes</a></li>
                        <li><a [routerLink]="['/DeliveryNotesform']">New Delivery Notes</a></li>

                    </ul>
                </div>
            </li>

            <li>
                <a data-toggle="collapse" href="#suppliers">
                    <i class="material-icons">local_shipping</i>
                    <p> Suppliers
                        <b class="caret"></b>
                    </p>
                </a>
                <div class="collapse" id="suppliers">
                    <ul class="nav">
                        <li><a [routerLink]="['/SupplierUpdateform']">All Suppliers</a></li>
                        <li><a [routerLink]="['/Suppliersform']">New Suppliers</a></li>

                    </ul>
                </div>
            </li>

            <li>
                <a data-toggle="collapse" href="#purchase-orders">
                    <i class="pe-7s-cart"></i>
                    <p> Purchase Orders
                        <b class="caret"></b>
                    </p>
                </a>
                <div class="collapse" id="purchase-orders">
                    <ul class="nav">
                        <li><a [routerLink]="['/allinone']">All Purchase Orders</a></li>
                        <li><a [routerLink]="['/PurchaseOrderform']">New Purchase Orders</a></li>

                    </ul>
                </div>
            </li>

            <li>
                <a data-toggle="collapse" href="#purchase-invoice">
                    <i class="material-icons">format_list_numbered</i>
                    <p> Purchase Invoice
                        <b class="caret"></b>
                    </p>
                </a>
                <div class="collapse" id="purchase-invoice">
                    <ul class="nav">
                        <li><a [routerLink]="['/allinone']">All Purchase Invoice</a></li>
                        <li><a [routerLink]="['/PurchaseInvoiceform']">New Purchase Invoice</a></li>

                    </ul>
                </div>
            </li>







            <li>
                <a data-toggle="collapse" href="#inventory-items">
                    <i class="material-icons">content_paste</i>
                    <p> Inventory Items
                        <b class="caret"></b>
                    </p>
                </a>
                <div class="collapse" id="inventory-items">
                    <ul class="nav">
                        <li><a [routerLink]="['/allinone']">All Inventory Items</a></li>
                        <li><a [routerLink]="['/InventoryItemform']">New Inventory Items</a></li>

                    </ul>
                </div>
            </li>















            <li>
                <a data-toggle="collapse" href="#reports">
                    <i class="material-icons">show_chart</i>
                    <p> Reports
                        <b class="caret"></b>
                    </p>
                </a>
                <div class="collapse" id="reports">
                    <ul class="nav">
                        <li><a [routerLink]="['/allinone']">All Journal Entries</a></li>
                        <li><a [routerLink]="['/createform']">New Journal Entries</a></li>

                    </ul>
                </div>
            </li>




        </ul>
    </div>
</div>